<!--<div class="container">
    <div class="encabezado">
        <h1  class="">POA GESTION {{token.gestion}}</h1>
    </div>
    <div class="d-flex bd-highlight">
        <div class="p-2 flex-grow-1 bd-highlight"></div>
        <div class="p-2 flex-shrink-1 bd-highlight">
            <div  style="text-align: center;">Bienvenido Usuario {{token.name}}</div>
            <div  style="text-align: center;">Area de {{token.area}}</div>
            <div  style="text-align: center;">Sede {{token.sede}}</div>
        </div>
    </div>
</div>-->


<div class="container">
    <div class="row">
        <img src="./assets/icons/logo.png" alt="logo" />
    </div>
</div>