.titulo {
    text-align: center;
    color: #337ab7;
    margin-top: 10px;
    font-weight: bold;
    width: 100%;
}

.obligatorio {
    color: red;
}

label {
    color: #337ab7;
    font-weight: bolder;
}

.cronograma {
    border-style: ridge;
    padding-top: 2%;
    margin-bottom: 2%;
}


.customModal {
    display: block;
    width: 100%;
    height: auto;
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1580px !important;
    }
  }