

<!--<div *ngIf="servicio.modalEditar" class="modal customModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
      <div class="modal-content" >
        <div class="modal-header">
            <div class="titulo">
                <h2>Registro de Objetivos</h2>
                <p>Los campos con un asterisco <span class="obligatorio">*</span> son obligatorios</p>
            </div>
          <button type="button" (click)="cerrarModal()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <form [formGroup]="formObjetivo">
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="codigoObjetivo"><span class="obligatorio">* </span>Codigo Objetivo</label>
                            <input type="text" class="form-control" id="codigoObjetivo"
                                    formControlName="codigoobjetivo"
                                style="width: 70%;" />

                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label for="objetivoGestion"><span class="obligatorio">* </span>Objetivo Gestion</label>
                            <textarea class="form-control" id="objetivoGestion" rows="2"
                                    formControlName="objetivogestion"></textarea>

                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label for="resultadoObjetivo"><span class="obligatorio">* </span>Productos/Resultados Objetivoss</label>
                            <textarea class="form-control" id="resultadoObjetivo" rows="2"
                                    formControlName="productoresultadoobjetivo"></textarea>

                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col">
                            <h3 class="titulo">Cronograma Anual</h3>
                        </div>
                    </div>

                    <div class="cronograma">
                        <form [formGroup]="formCronograma">
                            <div class="row form-group">
                                <div class="col-sm-1">
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input"
                                                formControlName="enero"
                                                  id="enero">
                                        <label class="form-check-label" for="enero">Enero</label>
                                      </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input"
                                            formControlName="febrero" id="febrero">
                                        <label class="form-check-label" for="febrero">Febrero</label>
                                      </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input"
                                                formControlName="marzo" id="marzo">
                                        <label class="form-check-label" for="marzo">Marzo</label>
                                      </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input"
                                                formControlName="abril" id="abril">
                                        <label class="form-check-label" for="abril">Abril</label>
                                      </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input"
                                                formControlName="mayo" id="mayo">
                                        <label class="form-check-label" for="mayo">Mayo</label>
                                      </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input"
                                                formControlName="junio" id="junio">
                                        <label class="form-check-label" for="junio">Junio</label>
                                      </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input"
                                                formControlName="julio" id="julio">
                                        <label class="form-check-label" for="Julio">Julio</label>
                                      </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input"
                                                formControlName="agosto" id="agosto">
                                        <label class="form-check-label" for="agosto">Agosto</label>
                                      </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input"
                                                formControlName="septiembre" id="septiembre">
                                        <label class="form-check-label" for="septiembre">Septiembre</label>
                                      </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input"
                                                formControlName="octubre" id="octubre">
                                        <label class="form-check-label" for="octubre">Octubre</label>
                                      </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input"
                                                formControlName="noviembre" id="noviembre">
                                        <label class="form-check-label" for="noviembre">Noviembre</label>
                                      </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input"
                                                formControlName="diciembre" id="diciembre">
                                        <label class="form-check-label" for="diciembre">Diciembre</label>
                                      </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label for="indicadores"><span class="obligatorio">* </span>Indicadores Objetivo</label>
                            <textarea class="form-control" id="indicadores" rows="2"
                                    formControlName="indicadorobjetivo"></textarea>

                        </div>

                        <div class="col-sm-3">
                            <label for="verificacion"><span class="obligatorio">* </span>Medios De Verificacion</label>
                            <textarea class="form-control" id="verificacion" rows="2"
                                    formControlName="medioverificacionobjetivo"></textarea>

                        </div>
                    </div>

                    <div class="row">

                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button (click)="cerrarModal()" type="button"
                        class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            <button class="btn btn-success" >Guardar</button>
        </div>
      </div>
    </div>
  </div>-->

  <div>
    <div class="titulo">
         <h2>Registro de Objetivos</h2>
         <p>Los campos con un asterisco <span class="obligatorio">*</span> son obligatorios</p>
     </div>
     <div class="container-fluid">
         <form [formGroup]="formObjetivo">
             <div class="row form-group">
                 <div class="col-sm-2">
                     <label for="codigoObjetivo"><span class="obligatorio">* </span>Codigo Objetivo</label>
                     <input type="text" class="form-control" id="codigoObjetivo"
                             formControlName="codigoobjetivo"
                         style="width: 70%;" />

                 </div>
             </div>
             <div class="row form-group">
                 <div class="col-sm-3">
                     <label for="objetivoGestion"><span class="obligatorio">* </span>Objetivo Gestion</label>
                     <textarea class="form-control" id="objetivoGestion" rows="3"
                             formControlName="objetivogestion"></textarea>

                 </div>
             </div>
             <div class="row form-group">
                 <div class="col-sm-3">
                     <label for="resultadoObjetivo"><span class="obligatorio">* </span>Productos/Resultados Objetivoss</label>
                     <textarea class="form-control" id="resultadoObjetivo" rows="3"
                             formControlName="productoresultadoobjetivo"></textarea>

                 </div>
             </div>
             <div class="row form-group">
                 <div class="col">
                     <h3 class="titulo">Cronograma Anual</h3>
                 </div>
             </div>

             <div class="cronograma">
                 <form [formGroup]="formCronograma">
                     <div class="row form-group">
                         <div class="col-sm-1">
                             <div class="form-group form-check">
                                 <input type="checkbox" class="form-check-input"
                                         formControlName="enero"
                                           id="enero">
                                 <label class="form-check-label" for="enero">Enero</label>
                               </div>
                         </div>
                         <div class="col-sm-1">
                             <div class="form-group form-check">
                                 <input type="checkbox" class="form-check-input"
                                     formControlName="febrero" id="febrero">
                                 <label class="form-check-label" for="febrero">Febrero</label>
                               </div>
                         </div>
                         <div class="col-sm-1">
                             <div class="form-group form-check">
                                 <input type="checkbox" class="form-check-input"
                                         formControlName="marzo" id="marzo">
                                 <label class="form-check-label" for="marzo">Marzo</label>
                               </div>
                         </div>
                         <div class="col-sm-1">
                             <div class="form-group form-check">
                                 <input type="checkbox" class="form-check-input"
                                         formControlName="abril" id="abril">
                                 <label class="form-check-label" for="abril">Abril</label>
                               </div>
                         </div>
                         <div class="col-sm-1">
                             <div class="form-group form-check">
                                 <input type="checkbox" class="form-check-input"
                                         formControlName="mayo" id="mayo">
                                 <label class="form-check-label" for="mayo">Mayo</label>
                               </div>
                         </div>
                         <div class="col-sm-1">
                             <div class="form-group form-check">
                                 <input type="checkbox" class="form-check-input"
                                         formControlName="junio" id="junio">
                                 <label class="form-check-label" for="junio">Junio</label>
                               </div>
                         </div>
                         <div class="col-sm-1">
                             <div class="form-group form-check">
                                 <input type="checkbox" class="form-check-input"
                                         formControlName="julio" id="julio">
                                 <label class="form-check-label" for="Julio">Julio</label>
                               </div>
                         </div>
                         <div class="col-sm-1">
                             <div class="form-group form-check">
                                 <input type="checkbox" class="form-check-input"
                                         formControlName="agosto" id="agosto">
                                 <label class="form-check-label" for="agosto">Agosto</label>
                               </div>
                         </div>
                         <div class="col-sm-1">
                             <div class="form-group form-check">
                                 <input type="checkbox" class="form-check-input"
                                         formControlName="septiembre" id="septiembre">
                                 <label class="form-check-label" for="septiembre">Septiembre</label>
                               </div>
                         </div>
                         <div class="col-sm-1">
                             <div class="form-group form-check">
                                 <input type="checkbox" class="form-check-input"
                                         formControlName="octubre" id="octubre">
                                 <label class="form-check-label" for="octubre">Octubre</label>
                               </div>
                         </div>
                         <div class="col-sm-1">
                             <div class="form-group form-check">
                                 <input type="checkbox" class="form-check-input"
                                         formControlName="noviembre" id="noviembre">
                                 <label class="form-check-label" for="noviembre">Noviembre</label>
                               </div>
                         </div>
                         <div class="col-sm-1">
                             <div class="form-group form-check">
                                 <input type="checkbox" class="form-check-input"
                                         formControlName="diciembre" id="diciembre">
                                 <label class="form-check-label" for="diciembre">Diciembre</label>
                               </div>
                         </div>
                     </div>
                 </form>
             </div>

             <div class="row form-group">
                 <div class="col-sm-3">
                     <label for="indicadores"><span class="obligatorio">* </span>Indicadores Objetivo</label>
                     <textarea class="form-control" id="indicadores" rows="3"
                             formControlName="indicadorobjetivo"></textarea>

                 </div>

                 <div class="col-sm-3">
                     <label for="verificacion"><span class="obligatorio">* </span>Medios De Verificacion</label>
                     <textarea class="form-control" id="verificacion" rows="3"
                             formControlName="medioverificacionobjetivo"></textarea>

                 </div>
             </div>

             <div class="row" style="margin-top: 5%;">
                <div class="col-md-1">
                    <button class="btn btn-success" (click)="guardarObjetivo()" >Guardar</button>
                </div>

                <div class="col-md-1">
                    <button class="btn btn-danger" [routerLink]="['/objetivo/catalogo']" >Cancelar</button>
                </div>

             </div>
         </form>
     </div>
 </div>
