
.titulo {
    text-align: center;
    color: #337ab7;
    margin-top: 10px;
    font-weight: bold;
}

.bg-light {
    background-color: none !important;
}

.btn-select {
    border: black;
    border-style: solid !important;
    border-width: 1px;
}

.rowRegistro {
    text-align: center;
    width: 100%;
}

.sinRegistro {
    text-align: center;
    color: #337ab7;
}

.regisObjet {
    cursor: pointer;
    color: #007bff;
    margin-bottom: 2%;
}

.centrear {
    text-align: center;
}