<div>
    <div class="container-fluid" style="margin-top: 3%;">

        <div *ngIf="permisos.crear_objetivo" class="row regisObjet">
            <div class="col-sm-2">
              <a (click)="registrarObjetivo()">Registrar nuevo objetivo</a>
            </div>
            <div class="col">
              <a (click)="copiarTodosObjetivos(objetivos)">
                <img src="./assets/icons/copiar.png" alt="copiar" style="width: 20px;" title="Copiar Todo" alt="Copiar todo"/>
              </a>
            </div>
        </div>


        <app-objetivo-registro (actualizar)="actualizar($event)"></app-objetivo-registro>

        <div *ngIf="sinRegistro == false" class="row">
            <div class="table-responsive" #objetivostable>
                <table class="table table-hover">
                    <thead>
                        <tr class="centrear">
                            <th scope="col">#</th>
                            <th scope="col" >Codigo</th>
                            <th scope="col">Objetivo</th>
                            <th scope="col">Cronograma</th>
                            <th scope="col">Resultado</th>
                            <th scope="col">Indicadores Objetivo</th>
                            <th scope="col">Medios de Verificación</th>
                            <th scope="col">Opciones</th>
                            <!-- <th scope="col">Excel</th>
                            <th scope="col">Eliminar</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let objetivo of objetivos; index as i" >
                            <td scope="row">{{i+1}}</td>
                            <td>{{objetivo.codigoobjetivo}}</td>
                            <td>{{objetivo.objetivogestion}}</td>
                            <td>{{meses[i]}}</td>
                            <td>{{objetivo.productoresultadoobjetivo}}</td>
                            <td>{{objetivo.indicadorobjetivo}}</td>
                            <td>{{objetivo.medioverificacionobjetivo}}</td>
                            <td class="centrear">
                                <div class="row">
                                  <button *ngIf="permisos.editar_objetivo" (click)="abrirVentanaEditar(objetivo)" title="Editar" class="btn">
                                      <img src="./assets/icons/editar.png" alt="editar" style="width: 15px;"/>
                                  </button>

                                  <button *ngIf="permisos.leer_objetivo" (click)="verObjetivo(objetivo)" title="Visualizar" class="btn">
                                      <img src="./assets/icons/ver.png" alt="ver" style="width: 15px;"/>
                                  </button>
                                  <app-ver-objetivo *ngIf="abilitarVer === true" [listaVerObjetivo] = "listaVerObjetivo"></app-ver-objetivo>

                                  <button *ngIf="permisos.excel_objetivo" (click)="exportToExcel(objetivo)" title="Reporte" class="btn">
                                      <img src="./assets/icons/excel.png" alt="excel" style="width: 15px;"/>
                                  </button>

                                  <button  (click)="copiarObjetivo(objetivo)" title="Copiar" class="btn">
                                      <img src="./assets/icons/copiar.png" alt="copiar" style="width: 15px;"/>
                                  </button>
                                  <app-objetivo-copiar *ngIf="abilitarEditar === true" [listaCopiarObjetivo] = "listaCopiarObjetivo"></app-objetivo-copiar>

                                  <button *ngIf="permisos.eliminar_objetivo" (click)="elimiarObjetivo(objetivo)" title="Eliminar" class="btn">
                                      <img src="./assets/icons/eliminar.png" alt="eliminar" style="width: 15px;"/>
                                  </button>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row " *ngIf="sinRegistro == true">
            <div class="rowRegistro">
                <h2 class="sinRegistro">Sin Registros</h2>
            </div>
        </div>
        <!--<div *ngIf="sinRegistro == true" class="row">
            <a [routerLink]="['/objetivo/registro']">Registrar nuevo Objetivo</a>
        </div>-->
    </div>
</div>
