

<div *ngIf="servicio.modelCopiar" class="modal customModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
      <div class="modal-content" >
        <div class="modal-header">
            <div class="titulo">
                <h2>Copiar {{listaCopiarObjetivo.length?'todos los':'el' }} objetivo</h2>
            </div>
          <button type="button" (click)="cerrarModalCopiar()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">

                <div *ngIf="usuario['sede'] === 'Esam Tarija Central'">
                  <form class="form-inline">
                    <div class="form-group">
                      <label for="inputPassword6">Sede Actual</label>
                      <input type="input" id="sedeActual" class="form-control mx-sm-2" name="sede" [(ngModel)]="usuario.sede" disabled>

                      <img src="./assets/icons/pasar.png" class="form-control mx-sm-2" alt="pasar"/>

                      <div class="form-inline">
                          <label for="inputPassword6">Sede a pasar</label>
                          <select class="form-control mx-sm-2" id="inputState" name="gestion" [(ngModel)]="sedeSeleccionada"
                              class="custom-select my-2 mr-sm-2">
                              <option [ngValue]="gestion" *ngFor="let gestion of listaSedes">{{gestion}}</option>
                          </select>
                      </div>
                    </div>
                    </form>
                </div>

                <div *ngIf="usuario['sede'] !== 'Esam Tarija Central'">
                  <form class="form-inline">
                    <div class="form-group">
                      <label for="inputPassword6">Sede Actual</label>
                      <input type="input" id="sedeActual" class="form-control mx-sm-2" name="sede" [(ngModel)]="usuario.sede" disabled>

                      <img src="./assets/icons/pasar.png" class="form-control mx-sm-2" alt="pasar"/>

                      <label for="inputPassword6">Año a pasar</label>
                      <input type="number" id="sedeActual" class="form-control mx-sm-2" name="anio" [(ngModel)]="anioPasar" autocomplete="off">

                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button (click)="cerrarModalCopiar()" type="button"
                        class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            <button class="btn btn-success" (click)="realizarCambioObjetivo()" >Guardar</button>
        </div>
      </div>
    </div>
  </div>
