
<div class="container-fluid" style="margin-top: 3%;">
    <div class="form-inline">
        <label class="my-1 mr-4" for="inlineFormCustomSelectPref">Sede:</label>
        <select id="inputState" (change)="click(sedeSeleccionada)" [(ngModel)]="sedeSeleccionada"
            class="custom-select my-2 mr-sm-2">
            <option [ngValue]="gestion" *ngFor="let gestion of listaSedes">{{gestion}}</option>
        </select>
    </div>
</div>
