<div *ngIf="servicio.modalVer" class="modal customModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <div class="titulo">
                    <h2><strong>Detalle del Objetivo</strong></h2>
                    <p><strong>Area:</strong> {{listaVerObjetivo.area}} - {{listaVerObjetivo.gestion}}</p>
                </div>
                <button type="button" (click)="cerrarModal()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <!-- <h4>
                    <strong>Objetivo</strong>
                </h4>
                <p><strong>Codigo del objetivo:</strong> {{listaVerObjetivo.codigoobjetivo}}</p>
                <p><strong>Objetivo:</strong> {{listaVerObjetivo.objetivogestion}}</p>
                <p><strong>Cronograma:</strong> {{meses}}</p>
                <p><strong>Indicadores: </strong> {{listaVerObjetivo.indicadorobjetivo}}</p>
                <p><strong>Medio de verificacion: </strong> {{listaVerObjetivo.medioverificacionobjetivo}}</p>
                <p><strong>Resultados:</strong> {{listaVerObjetivo.productoresultadoobjetivo}}</p>
                <h4>
                    <strong>Actividades</strong>
                </h4>
                <div *ngFor="let actividades of listaVerObjetivo.actividades">
                   <p><strong>Actividad:</strong> {{actividades.actividad}}</p>
                    
                   <h4>
                    <strong>Sub-Actividades</strong>
                </h4>
                    <div *ngFor="let subactividades of actividades.subActividades">
                        <p><strong>Fecha Inicio - Fecha Fin:</strong> {{subactividades.fechaInicio}} - {{subactividades.fechaFin}}</p>
                        <p><strong>Actividad:</strong> {{subactividades.subActividad}}</p>
                        <p><strong>Producto/Resultado:</strong> {{subactividades.resultadoObjetivo}}</p>
                        <p><strong>Indicadores:</strong> {{subactividades.subIndicador}}</p>
                        <p><strong>Medios de verificacion:</strong> {{subactividades.subMediosVerificacion}}</p>
                        <p><strong>Presupuesto Bs.:</strong> {{subactividades.presupuesto}}</p>
                        <p><strong>Encargado:</strong> {{subactividades.encargado}}</p>
                    </div>
                </div> -->
                    <div style="text-align: left;">
                        <p><strong>Codigo Objetivo:</strong> {{listaVerObjetivo.codigoobjetivo}}</p>
                        <p><strong>Objetico:</strong> {{listaVerObjetivo.objetivogestion}}</p>
                        <p><strong>Cronograma: </strong>{{meses}}</p>
                        <p><strong>Resultados: </strong>{{listaVerObjetivo.productoresultadoobjetivo}}</p>
                        <p><strong>Indicadores: </strong>{{listaVerObjetivo.indicadorobjetivo}}</p>
                        <p><strong>Medios de Verirficación: </strong>{{listaVerObjetivo.medioverificacionobjetivo}}</p>
                    </div>
                    <div class="row">
                        <table class="table table-hover" #objetivostable>
                            <tbody>
                                <tr *ngFor="let actividad of listaVerObjetivo.actividades">
                                    <td>{{actividad.actividad}}</td>
                                    <td>
                                        <table class="table table-bordered">
                                            <thead class="actiTh">
                                                <th>inicio</th>
                                                <th>Fin</th>
                                                <th>Actividad</th>
                                                <th>Resultado</th>
                                                <th>Sub Indicador</th>
                                                <th>Medio de Verificacion</th>
                                                <th>Presupuesto(Bs.)</th>
                                                <th>Personal a Cargo</th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let subActi of actividad.subActividades">
                                                    <td>{{subActi.fechaInicio}}</td>
                                                    <td>{{subActi.fechaFin}}</td>
                                                    <td>{{subActi.subActividad}}</td>
                                                    <td>{{subActi.resultadoObjetivo}}</td>
                                                    <td>{{subActi.subIndicador}}</td>
                                                    <td>{{subActi.subMediosVerificacion}}</td>
                                                    <td>{{subActi.presupuesto}}</td>
                                                    <td>{{subActi.encargado}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="cerrarModal()" class="btn btn-danger"
                        data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>