<div>
    <div class="container-fluid" style="margin-top: 5%;">
        <div class="row">
            <!--<div class="col-sm-2">
                <label for="codActividad" style="color: #337ab7;"><strong>Codigo Objetivo</strong></label>
                <input type="text" class="form-control" id="codActividad"
                        [(ngModel)]="buscar"    (change)="obtenerCodObj($event)" />
            </div>-->

            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend2">Objetivo</span>
                <select id="inputState" (change)="obtenerCodObj(codigoSeleccionada)" [(ngModel)]="codigoSeleccionada"
                    class="form-control-lg">
                    <option [ngValue]="codigos" *ngFor="let codigos of listaCodigos">{{codigos.codigo}} - {{codigos.objetivo}}</option>
                </select>
            </div>

        </div>
        <br>
        <!--*ngIf="listaActividades.length == 0"-->
        <div *ngIf="permisos.crear_actividad" class="row regisActi">
            <a (click)="abrirModal()" >Registrar nueva actividad</a>
        </div>

        <app-actividad-registro></app-actividad-registro>
        <br>
        <div *ngIf="sinRegistro == false" class="row">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Codigo</th>
                            <th scope="col">Actividad</th>
                            <th scope="col" style="text-align: center;">Sub-Actividades</th>
                            <th scope="col" style="text-align: center;">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let actividad of listaActividades; index as i">
                            <td scope="row">{{i+1}}</td>
                            <td>{{actividad.codObjetivo}}</td>
                            <td>{{actividad.actividad}}</td>
                            <td>
                                <table class="table table-bordered">
                                    <thead>
                                        <th>inicio</th>
                                        <th>Fin</th>
                                        <th>Actividad</th>
                                        <th>Resultado</th>
                                        <th>Sub Indicadores</th>
                                        <th>Medios de Verificación</th>
                                        <th>Presupuesto(Bs.)</th>
                                        <th>Personal a Cargo</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let subActi of actividad.subActividades">
                                            <td>{{subActi.fechaInicio}}</td>
                                            <td>{{subActi.fechaFin}}</td>
                                            <td>{{subActi.subActividad}}</td>
                                            <td>{{subActi.resultadoObjetivo}}</td>
                                            <td>{{subActi.subIndicador}}</td>
                                            <td>{{subActi.subMediosVerificacion}}</td>
                                            <td>{{subActi.presupuesto}}</td>
                                            <td>{{subActi.encargado}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="text-align: center;">
                                <div class="row">
                                  <button *ngIf="permisos.editar_actividad" type="button" name="editar" (click)="editarActividad(actividad)"
                                      class="btn">
                                      <img src="./assets/icons/editar.png" alt="editar" style="width: 17px;"/>
                                  </button>

                                  <button *ngIf="permisos.eliminar_actividad" type="button" name="eliminar" (click)="eliminarActividad(actividad)"
                                      class="btn">
                                      <img src="./assets/icons/eliminar.png" alt="editar" style="width: 17px;"/>
                                  </button>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div>

            </div>
        </div>
        <div class="row " *ngIf="sinRegistro == true">
            <div class="rowRegistro">
                <h2 class="sinRegistro">Sin Registros</h2>
            </div>
        </div>

    </div>
</div>
