

.rowRegistro {
    text-align: center;
    width: 100%;
}

.sinRegistro {
    text-align: center;
    color: #337ab7;
}

.regisActi {
    cursor: pointer;
    color: #007bff;
    margin-bottom: 2%;
}