
.container {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.container .contenedor1 {
  margin: 5%;
  width: 20%;
}

.container .contenedor2 {
  margin: 5%;
  width: 20%;
}

.newContainer {
  display: flex;
  flex-direction: column;
}

label {
  padding-top: 3%;
  padding-left: 2%;
}

.ng-autocomplete {
    width: 100%;
    max-width: 300px;
    display: table;
}
