
<div class="container-fluid" style="margin-top: 3%;">


  <form [formGroup]="formPermisos">
    <label for="presupuesto"><strong>Codigo Usuario: </strong></label>
    <div class="ng-autocomplete">
        <ng-autocomplete
            [data]="data$"
            [searchKeyword]="keyword"
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate"
            (selected)='selectEvent($event)'
            (inputCleared)='searchCleared()'
            formControlName='codigousuario'>
        </ng-autocomplete>


        <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.rol"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
        </ng-template>
    </div>
  </form>

  <div style="text-align: center;">
    <div class="container">
      <div class="contenedor1">
        <h3>Permisos de Objetivos</h3>


        <div class="newContainer">

          <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" value="" id="leer_objetivo" [(ngModel)]="permisos.leer_objetivo">
              <label class="form-check-label" for="defaultCheck1">
                Leer Objetivos
              </label>
          </div>

          <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" value="" id="crear_objetivo" [(ngModel)]="permisos.crear_objetivo">
              <label class="form-check-label" for="defaultCheck1">
                Crear Objetivos
              </label>
          </div>

          <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" value="" id="editar_objetivo" [(ngModel)]="permisos.editar_objetivo">
              <label class="form-check-label" for="editar_objetivo">
                Editar Objetivos
              </label>
          </div>

          <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" value="" id="eliminar_objetivo" [(ngModel)]="permisos.eliminar_objetivo">
              <label class="form-check-label" for="eliminar_objetivo">
                Eliminar Objetivos
              </label>
          </div>

          <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" value="" id="excel_objetivo" [(ngModel)]="permisos.excel_objetivo">
              <label class="form-check-label" for="excel_objetivo">
                Generar Excel Objetivos
              </label>
          </div>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" value="" id="copiar_objetivo" [(ngModel)]="permisos.copiar_objetivo">
              <label class="form-check-label" for="excel_objetivo">
                Copiar Objetivos
              </label>
          </div>

        </div>



      </div>

      <div class="contenedor2">
          <h3>Permisos de Actividades</h3>

          <div class="newContainer">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" value="" id="leer_actividad" [(ngModel)]="permisos.leer_actividad">
              <label class="form-check-label" for="leer_actividad">
                Leer Actividades
              </label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" value="" id="crear_actividad" [(ngModel)]="permisos.crear_actividad">
              <label class="form-check-label" for="crear_actividad">
                Crear Actividades
              </label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="editar_actividad" [(ngModel)]="permisos.editar_actividad">
                <label class="form-check-label" for="editar_actividad">
                  Editar Actividades
                </label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="eliminar_actividad" [(ngModel)]="permisos.eliminar_actividad">
                <label class="form-check-label" for="eliminar_actividad">
                  Eliminar Actividades
                </label>
            </div>

          </div>

      </div>
    </div>
  </div>
  <button (click)="guardarPermisos()" name="guardar" class="btn btn-success">Guardar</button>
</div>
