<div>
    <div class="titulo">
        <h2>Registro de Actividades</h2>
        <p>Los campos con un asterisco <span class="obligatorio">*</span> son obligatorios</p>
    </div>

    <div class="container-fluid">
        <form [formGroup]="formActividad">
            <div class="row form-group">
                <div class="col-sm-2">
                    <label for="codActividad"><span class="obligatorio">* </span>Codigo Objetivo</label>
                    <input type="text" class="form-control" id="codActividad" formControlName="codObjetivo"
                        style="width: 50%;" />
                    <div class="error-mensaje" *ngIf="formActividad.get('codObjetivo').getError('required') &&
                             (formActividad.get('codObjetivo').touched || formActividad.get('codObjetivo').dirty)"
                        style="color: red;">
                        El campo Codigo es requerido
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-3">
                    <label for="actividad"><span class="obligatorio">* </span>Actividad/Operación</label>
                    <textarea class="form-control" id="actividad" rows="3" formControlName="actividad"></textarea>
                    <div class="error-mensaje" *ngIf="formActividad.get('actividad').getError('required') &&
                            (formActividad.get('actividad').touched || formActividad.get('actividad').dirty)"
                        style="color: red;">
                        El campo Actividad es requerido
                    </div>
                </div>

                <div class="col-sm-5">
                    <label for="actividad"><span class="obligatorio">* </span>Producto/Resultado</label>
                    <textarea class="form-control" id="actividad" rows="3" formControlName="resultado"></textarea>
                    <div class="error-mensaje" *ngIf="formActividad.get('resultado').getError('required') &&
                        (formActividad.get('resultado').touched || formActividad.get('resultado').dirty)"
                        style="color: red;">
                        El campo resultado es requerido
                    </div>
                </div>
            </div>

            <div class="row texto-agregar">
                <div class="col-sm-0 my-1">
                    <h3>Agregar Sub-Actividades</h3>
                </div>
                <div class="col-sm-2 my-1">
                    <button (click)="agregarSubActividad()" class="btn btn-primary">+</button>
                </div>
            </div>

            <div class="subActiRow" *ngIf="agregar == true">
                <form [formGroup]="formSubActividad">
                    <div class="row">
                        <div class="form-group ">
                            <label for="fechaInicio" class="col-2 col-form-label"><span class="obligatorio">
                                *</span>Inicio</label>
                            <div class="col-12">
                                <input class="form-control" type="date" id="fechaInicio" formControlName="fechaInicio">
                                <div class="error-mensaje"
                                    *ngIf="formSubActividad.get('fechaInicio').getError('required') &&
                                        (formSubActividad.get('fechaInicio').touched || formSubActividad.get('fechaInicio').dirty)"
                                    style="color: red;">
                                    El campo Fecha Inicio es requerido
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="fechaFin" class="col-2 col-form-label"><span class="obligatorio">
                                *</span>Fin</label>
                            <div class="col-12">
                                <input class="form-control" type="date" id="fechaFin" formControlName="fechaFin">
                                <div class="error-mensaje"
                                    *ngIf="formSubActividad.get('fechaFin').getError('required') &&
                                        (formSubActividad.get('fechaFin').touched || formSubActividad.get('fechaFin').dirty)"
                                    style="color: red;">
                                    El campo Fecha Fin es requerido
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label for="codActividad"><span class="obligatorio">* </span>Sub Actividad</label>
                            <textarea class="form-control" id="actividad" rows="2"
                                formControlName="subActividad"></textarea>
                            <div class="error-mensaje"
                                *ngIf="formSubActividad.get('subActividad').getError('required') &&
                                (formSubActividad.get('subActividad').touched || formSubActividad.get('subActividad').dirty)"
                                style="color: red;">
                                El campo Sub Actividad es requerido
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="codActividad"><span class="obligatorio">* </span>Sub Producto/Resultado</label>
                            <textarea class="form-control" id="actividad" rows="2"
                                formControlName="resultadoObjetivo"></textarea>
                            <div class="error-mensaje"
                                *ngIf="formSubActividad.get('resultadoObjetivo').getError('required') &&
                                (formSubActividad.get('resultadoObjetivo').touched || formSubActividad.get('resultadoObjetivo').dirty)"
                                style="color: red;">
                                El campo Sub Producto es requerido
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="codActividad"><span class="obligatorio">* </span>Sub Indicadores</label>
                            <textarea class="form-control" id="actividad" rows="2"
                                formControlName="subIndicadores"></textarea>
                            <div class="error-mensaje"
                                *ngIf="formSubActividad.get('subIndicadores').getError('required') &&
                                (formSubActividad.get('subIndicadores').touched || formSubActividad.get('subIndicadores').dirty)"
                                style="color: red;">
                                El campo Sub Indicador es requerido
                            </div>
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label for="codActividad"><span class="obligatorio">* </span>Sub Medios de
                                Verificacion</label>
                            <textarea class="form-control" id="actividad" rows="2"
                                formControlName="subMediosVerificacion"></textarea>
                            <div class="error-mensaje"
                                *ngIf="formSubActividad.get('subMediosVerificacion').getError('required') &&
                                (formSubActividad.get('subMediosVerificacion').touched || formSubActividad.get('subMediosVerificacion').dirty)"
                                style="color: red;">
                                El campo Medios de verificacion es requerido
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="presupuesto">Presupuesto(Bs.)</label>
                            <input type="number" class="form-control" id="presupuesto" formControlName="presupuesto">
                            <div class="error-mensaje"
                                *ngIf="formSubActividad.get('presupuesto').getError('presupuesto') &&
                                    (formSubActividad.get('presupuesto').touched || formSubActividad.get('presupuesto').dirty)"
                                style="color: red;">
                                El campo Medios de verificacion es requerido
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <!--<label for="encargado"><span class="obligatorio">* </span>Personal a Cargo</label>
                            <input type="text" class="form-control" id="encargado" formControlName="personalEncargado">
                            <div class="error-mensaje"
                                *ngIf="formSubActividad.get('personalEncargado').getError('personalEncargado') &&
                                    (formSubActividad.get('personalEncargado').touched || formSubActividad.get('personalEncargado').dirty)"
                                style="color: red;">
                                El campo Medios de verificacion es requerido
                            </div>-->
                            <label for="encargado"><span class="obligatorio">*</span>Personal a Cargo</label>
                            <div class="ng-autocomplete">
                                <ng-autocomplete [data]="data$ " [searchKeyword]="keyword" [itemTemplate]="itemTemplate"
                                    [notFoundTemplate]="notFoundTemplate" formControlName="encargado">
                                </ng-autocomplete>


                                <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item.completo"></a>
                                </ng-template>

                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-row-reverse bd-highlight">
                        <div class="p-2 bd-highlight">
                            <button (click)="cancelarSubActividad()" class="btn btn-danger">Cancelar</button>
                        </div>
                        <div class="p-2 bd-highlight">
                            <button (click)="guardarSubActividad()" [disabled]="formSubActividad.invalid"
                                class="btn btn-success">Agregar Actividad</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="table-responsive" *ngIf="listaSubAct.length != 0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Fechas</th>
                            <th scope="col">Sub Actividades</th>
                            <th scope="col">Resultado</th>
                            <th scope="col">Presupuesto</th>
                            <th scope="col">Encargado</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let subAct of listaSubAct; index as i">
                            <td>{{i+1}}</td>
                            <td>{{subAct.fechaInicio}} - {{subAct.fechaFin}}</td>
                            <td>{{subAct.subActividad}}</td>
                            <td>{{subAct.resultadoObjetivo}}</td>
                            <td>{{subAct.presupuesto}}</td>
                            <td *ngIf="!subAct.encargado['completo']; else loading">{{subAct.encargado}}</td>
                            <ng-template #loading>
                                <td>{{subAct.encargado['completo']}}</td>
                            </ng-template>
                            <td>
                                <button type="button" name="eliminar" (click)="editarSubActividad(subAct)"
                                    class="btn btn-sm">
                                    <img src="./assets/icons/editar.png" alt="editar" style="width: 30px;"/>
                                </button>

                                <button type="button" name="eliminar" (click)="quitarSubActividad(subAct)"
                                    class="btn btn-sm">
                                    <img src="./assets/icons/eliminar.png" alt="eliminar" style="width: 30px;"/>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row" style="margin-top: 5%;">
                <div class="col-md-1">
                    <button type="button" [disabled]="formActividad.invalid" (click)="editarActividad()"
                        class="btn btn-success ">Guardar</button>
                </div>
                <div class="col-md-1">
                    <button type="button" [routerLink]="['/actividad/catalogo']"
                        class="btn btn-danger ">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>