.titulo {
    text-align: center;
    color: #337ab7;
    margin-top: 10px;
    font-weight: bold;
}

.obligatorio {
    color: red;
}

.texto-agregar {
    color: #337ab7;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 1%;
}

label {
    color: #337ab7;
    font-weight: bolder;
}

.error-mensaje {
    font-size: small;
}
.ng-autocomplete {
    width: 100%;
    max-width: 600px;
    display: table;
    margin: 0 auto;  
}