<div *ngIf="usuario" class="container">
  <div class="encabezado">
    <h1 class="">POA GESTION {{usuario.gestion}}</h1>
  </div>
  <div class="d-flex bd-highlight">
    <div class="p-2 flex-grow-1 bd-highlight"></div>
    <div class="p-2 flex-shrink-1 bd-highlight" class="usuarioStyle">
      <div>Bienvenido Usuario {{usuario.name}}</div>
      <div>Area de {{usuario.area}}</div>
      <div>Sede {{usuario.sede}}</div>
    </div>
  </div>
</div>

<div class="">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/poa',token]"><span style="color: #337ab7;">ESAM</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/poa']">
            Inicio
          </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['objetivo/catalogo']">
            Objetivos
          </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['actividad/catalogo']">
            Actividades
          </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['cambiar/gestiones']">
            Gestión
          </a>
        </li>

        <li *ngIf="usuario && usuario.rol === 'admin'" class="nav-item active">
          <a class="nav-link" [routerLink]="['cambiar/area']">
            Area
          </a>
        </li>

        <li *ngIf="usuario && usuario.rol === 'admin'" class="nav-item active">
          <a class="nav-link" [routerLink]="['cambiar/sede']">
            Sede
          </a>
        </li>

        <li *ngIf="usuario && usuario.rol === 'admin'" class="nav-item active">
          <a class="nav-link" [routerLink]="['cambiar/permisos']">
            Permisos
          </a>
        </li>

      </ul>


      <div class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-success my-2 my-sm-0" type="button"
                  (click)="salir()">Salir</button>
      </div>

    </div>

  </nav>
</div>
