
h1 {
    text-align: center;
    color: #337ab7;
    margin-top: 10px;
    font-weight: bold;
}

.wrapper {  
    width:200px;
    padding:20px;
    height: 150px; 
}

.usuarioStyle {
    text-align: center;
    font-weight: bold;
}